.container {
    padding: 2px 20px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 400px;
    gap: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.active {
    color: var(--primary);
}

.inactive {
    color: var(--primary);
    opacity: 0.5;
}